.partner-logos{
    margin-top : 0em; 
    padding: 36em 20em;
}

@media only screen and (max-width: 900px){
    .partner-logos{
        margin-top : 0em; 
        padding: 10em 1em;
    }
}


@media only screen and (max-width: 360px){
    .partner-logos{
        margin-top: 0em;
        padding: 7em 1em;
    }
}

@media only screen and (max-width: 320px){
    .partner-logos{
        margin-top: 0em;
        padding: 1em 1em;
    }
}
@media only screen and (max-width: 375px){
    .partner-logos{
        margin-top: 0em;
        padding: 6em 1em;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 1024px){
    .partner-logos{
        margin-top: 0em;
        padding: 78em 7em
    }
}
