@import './default';

.aboutusdiv {
    text-align: center;
    margin: auto;
    padding: auto;
    justify-content: center;
    height: auto;
    width: 65%;
    background-color: #87D6A2;
}

.aboutusheading {
    text-align: center;
    font-size: 20px;
    color: #DCDCDC;
}

.aboutusbody {
    text-align: justify;
    // font-size: 10px;
    // margin: 10px 50px;
    color: @site-text-color;
}

.component-heading{
    margin-top: 20px;
}